<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127211185660-n21nv32ao0pq5bmctsqulhvfuk6kgq08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127211185660-n21nv32ao0pq5bmctsqulhvfuk6kgq08</string>
	<key>API_KEY</key>
	<string>AIzaSyAO5EUUFjTiBUXiy5y38DOnScv_cU04AOM</string>
	<key>GCM_SENDER_ID</key>
	<string>127211185660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tkpark.beach</string>
	<key>PROJECT_ID</key>
	<string>beach-8502b</string>
	<key>STORAGE_BUCKET</key>
	<string>beach-8502b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127211185660:ios:2f35ab5707745b15ac3e79</string>
</dict>
</plist>